SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_APP_URL=
SCOPES=read_customers,read_store_credit_accounts,read_store_credit_account_transactions,write_store_credit_account_transactions
SHOP_CUSTOM_DOMAIN=
SHOPIFY_BILLING_TEST_MODE=true
